
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #04376d;
}

.qoute-box {
    width: 900px;
    height: 400px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(224, 220, 220, 0.15);
}

.qoute-box h2 {
    font-size: 35px;
    margin-bottom: 40px;
    position: relative;
}

.qoute-box h2::after {
    content: '';
    width: 160px;
    height: 3px;
    border-radius: 3px;
    background: #177ce5;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
}

.qoute-box blockquote {
    font-size: 26px;
    min-height: 110px;
}

.qoute-box blockquote::before, .qoute-box blockquote::after {
    content: '"';
}

.qoute-box span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.qoute-box span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #177ce5;
    position: absolute;
    top: 50%;
    left: -30px;
}

.qoute-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.qoute-box button{
    background: #177ce5;
    color: #fff;
    border: 1px solid #177ce5;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    font-weight: 600;
}

.qoute-box button img{
    width: 25px;
    margin-right: 10px;
}


.qoute-box button:nth-child(2){
    background: transparent;
    color: #333;
}